{% extends "main/base.jinja" %}
{% from "partials/_macros.jinja" import form_macro %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="content-section shadow-lg p-3 mb-4 bg-body rounded m-4 col-md-6">
            <form method="post">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        تسجيل الدخول
                    </legend>
                    {# This field is used for either email or username input based on your controller logic #}
                    {{ form_macro(form.email) }}
                    {{ form_macro(form.password) }}

                    {# Removed the 'Remember Me' checkbox block #}

                </fieldset>
                <div class="form-group d-grid gap-2">
                    {{ form.submit(class="btn mainButton") }}
                    <a class="btn btn-link text-secondary" href="{{ url_for('auth_controller.reset_request') }}">نسيت كلمة السر؟</a>
                </div>
            </form>
        </div>
    </div>
    <div class="border-top pt-3 col-md-6">
        <small class="text-muted">
            ليس لديك حساب؟ <a class="ml-2" href="{{ url_for('auth_controller.user_register') }}">انشاء حساب جديد</a>
        </small>
    </div>
</div>
{% endblock content %}